<h1>Add Coffee to the Website</h1>
<p>If you find that a coffee drink is missing, this is the place to add it and share your favorite drink!</p><br>
<%= render partial: "coffees/update", locals: {coffee: @coffee, :stores => @stores, store: @store} %>