<h1><%= @store.name %></h1>
<h3>Add a coffee to this store <%= link_to "here", new_store_coffee_path(@store) %></h3>
<p>This store has <%= link_to "#{num_locations} locations", store_locations_path(@store) %> </h1>
<ul>